<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
<!-- add menu with all links -->


<md-toolbar color="primary" class="toolbar">
      <a routerLink="/bar-chart" routerLinkActive="active">Data</a>

<span class="example-spacer"></span>

      <a routerLink="/post-data" routerLinkActive="active">Add Data</a>

<span class="example-spacer"></span>

      <a routerLink="/sign-up" routerLinkActive="active">Sign Up</a>

<span class="example-spacer"></span>

      <a routerLink="/login" routerLinkActive="active">Log In</a>

    <md-icon class="example-icon">verified_user</md-icon>
</md-toolbar>
<router-outlet class="outlet"></router-outlet>

<md-toolbar color="secondary" class="footer">
  <p>All Rights Reserved to Blah blah</p>
</md-toolbar>
