{{message}}
<form class="example-form">

<md-card class="example-card">
  <md-card-header >
    <h1 class="header">Log in</h1>
  </md-card-header>

  <md-card-content>
<md-form-field class="example-full-width">
  <input mdInput placeholder="Username" name="username" value="" [(ngModel)]="username">
</md-form-field>
<br>
<md-form-field class="example-full-width">
  <input mdInput type="password" placeholder="password" name="password" value="" [(ngModel)]="password">
</md-form-field>
  </md-card-content>

  <md-card-actions>
    <button md-raised-button name="submit" (click)="onSubmit()" >submit</button>
  </md-card-actions>
</md-card>
</form>
