<!-- add another md-card to go beside the sign up card for information -->
{{message}}
<div [hidden]="submit" class="container">
  <form class="example-form" #signupForm="ngForm">

  <md-card class="example-card">
    <md-card-header >
      <h1 class="header">Sign up</h1>
    </md-card-header>

    <md-card-content>
  <md-form-field class="example-full-width">
          <input mdInput placeholder="Username" class="form-control" name="user" [(ngModel)]="model.userName" required>
  </md-form-field>
  <br>
  <md-form-field class="example-full-width">
    <input mdInput placeholder="First Name" class="form-control" name="first" [(ngModel)]="model.firstName" required>
  </md-form-field>
    <br>
    <md-form-field class="example-full-width">
    <input mdInput placeholder="Last Name"  class="form-control"  name="last" [(ngModel)]="model.lastName" #check="ngModel" required>
    </md-form-field>
      <br>
      <md-form-field class="example-full-width">
        <input mdInput placeholder="password" class="form-control" type="password" name="password" [(ngModel)]="model.firstName" required>
      </md-form-field>
        <br>
  <md-select placeholder="Data Type" [(ngModel)]="model.dataType" name="dataType">
    <md-option *ngFor="let type of dataType" [value]="type">
      {{type}}
    </md-option>
  </md-select>

  <p> Selected value: {{model.dataType}} </p>

    </md-card-content>

    <md-card-actions>
        <button md-raised-button name="button" class="btn btn-success"  (click)="onSubmit()" [disabled]="!signupForm.form.valid">submit</button>
        <button md-raised-button type="button" name="reset"  class="btn btn-default" (click)="resetForm(); signupForm.reset();">reset</button>
    </md-card-actions>
  </md-card>
  </form>
</div>


<div [hidden]="!submit">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">User Name</div>
    <div class="col-xs-9  pull-left">{{ model.userName }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">First Name</div>
    <div class="col-xs-9 pull-left">{{ model.firstName }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Last Name</div>
    <div class="col-xs-9 pull-left">{{ model.lastName }}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="onEdit()">Edit</button>
</div>

<div class="instructions" [hidden]="submit">
  <md-card [hidden]="submit">
    <md-card-header>
      <h2>instructions</h2>
    </md-card-header>
    <md-card-content>
      <ol>
        <li>You wil log in with username</li>
        <li>The data type option is for customization purposes.</li>
      </ol>

    </md-card-content>
  </md-card>
</div>
